/* Write your CSS here */
#heading{
    color:red;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.post{
    display: flex;
    justify-content: center;
    
}

#addition{
    display: flex;
    justify-content: center;

}

#input{

    padding: 100px;
    display: flex;
    justify-content: center;

}

#name{
    padding: 100px;
    display: flex;
    justify-content: center;

}

