/* Write your CSS here */
#heading{
    color:red;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.post{
    display: flex;
    justify-content: center;
    
}

/* Center Field */
#centerbox{
    text-align: center;
    width: 500px;
    left: 30%;
    position: absolute;
}

#box{
    padding: 20px;
}

#userName{
    position: relative;
    display: flex;
    justify-content: left;
    padding: 10px;

}

#name{
    position: relative;
    max-width: 100%;
    min-width: 100%;;
}


#addition{
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: left;

}

#input{
    position: relative;
    max-width: 100%;
    min-width: 100%;;
    max-height: 200px;

}

#submit{
    float: Right;
}

#info{
    padding: 10px;
    margin-top: 10px;
}