/* Write your CSS here */
#heading{
    color:red;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.post{
    display: flex;
    justify-content: center;
    
}

#box{
    text-align: center;
}

#addition{
    display: flex;
    justify-content: center;

}

#input{

    display: flex;
    justify-content: center;
    padding: 100px;
    text-align: center;

}

#userName{
    display: flex;
    justify-content: center;
    padding: 10px;

}

